.gedichte-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFF;
}
 
.gedichte-thq-header-elm {
  width: 100%;
  height: 135px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
 
.gedichte-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gedichte-navlink {
  display: contents;
}
 
.gedichte-text1 {
  font-size: 20px;
  margin-top: var(--dl-layout-space-threeunits);
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 1.15;
  margin-left: var(--dl-layout-space-threeunits);
  margin-right: var(--dl-layout-space-threeunits);
  text-transform: capitalize;
  text-decoration: none;
}
 
.gedichte-container3 {
  width: 1181px;
  height: 630px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.gedichte-container4 {
  width: 472px;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
 
.gedichte-image1 {
  width: 400px;
  object-fit: cover;
  text-decoration: none;
}
 
.gedichte-container5 {
  width: 691px;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-column-start: 2;
}
 
.gedichte-image2 {
  width: 400px;
  object-fit: cover;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gedichte-thq-footer-elm {
  width: 100%;
  bottom: 0px;
  height: 107px;
  display: flex;
  position: sticky;
  margin-top: auto;
  align-items: flex-start;
}
 
.gedichte-container6 {
  flex: 0 0 auto;
  height: 102px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.gedichte-link3 {
  font-size: 20px;
  font-family: "Times New Roman";
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
 
.gedichte-text2 {
  font-size: 20px;
  font-family: "Times New Roman";
  margin-left: 0px;
  margin-bottom: 0px;
}
 
.gedichte-link4 {
  text-decoration: none;
}
 
.gedichte-link5 {
  display: contents;
}
 
.gedichte-container7 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.gedichte-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.gedichte-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .gedichte-thq-header-elm {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .gedichte-container3 {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
  }
  .gedichte-container4 {
    width: 100%;
    height: 717px;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .gedichte-image1 {
    width: 367px;
    height: 561px;
    position: relative;
    align-self: center;
  }
  .gedichte-container5 {
    width: 466px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .gedichte-image2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
