.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 116px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #ffffff;
}
 
.home-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-navlink1 {
  display: contents;
}
 
.home-text1 {
  font-size: 20px;
  margin-top: var(--dl-layout-space-threeunits);
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 1.15;
  margin-left: var(--dl-layout-space-twounits);
  margin-right: var(--dl-layout-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-container3 {
  width: 100%;
  height: 779px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-container4 {
  width: 474px;
  height: 718px;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.home-image {
  width: 331px;
  height: 492px;
  display: flex;
  object-fit: cover;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.home-text2 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.home-text3 {
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-navlink2 {
  width: 109px;
  display: flex;
  text-align: left;
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  backdrop-filter: blur(5px);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 

 
.home-navlink3 {
  width: 109px;
  display: flex;
  text-align: left;
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  backdrop-filter: blur(5px);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 

 
.home-container5 {
  width: 658px;
  height: 711px;
  display: block;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  grid-row-end: 2;
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
  grid-row-start: 1;
  grid-column-end: 3;
  grid-column-start: 2;
}
 
.home-link10 {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  font-weight: 700;
  text-decoration: none;
}
 
.home-link11 {
  text-align: justify;
  margin-bottom: 0px;
  text-decoration: none;
}
 
.home-link12 {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  font-weight: 700;
  text-decoration: none;
}
 
.home-link13 {
  text-decoration: none;
}
 
.home-link14 {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  font-weight: 700;
  text-decoration: none;
}
 
.home-link15 {
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link16 {
  margin-top: 0px;
  font-weight: 700;
  text-decoration: none;
}
 
.home-link17 {
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link18 {
  margin-top: Unit;
  font-weight: 700;
  text-decoration: none;
}
 
.home-link19 {
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link20 {
  display: flex;
  font-weight: 700;
  text-decoration: none;
}
 
.home-link21 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link22 {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  font-weight: 700;
  text-decoration: none;
}
 
.home-link23 {
  text-decoration: none;
}
 
.home-thq-footer-elm {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 98px;
  display: flex;
  position: sticky;
  margin-top: auto;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary1);
}
 
.home-link24 {
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  text-decoration: none;
}
 
.home-text7 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.home-link25 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link26 {
  display: contents;
}
 
.home-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text8 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .home-container3 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container4 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home-image {
    width: 260px;
    height: 397px;
  }
  .home-container5 {
    height: auto;
    display: flex;
    padding-left: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-unit);
    flex-direction: column;
  }
  .home-text4 {
    display: flex;
    flex-direction: column;
  }
  .home-link13 {
    text-decoration: none;
  }
  .home-thq-footer-elm {
    top: var(--dl-layout-space-halfunit);
    height: 77px;
  }
}
