.kontakt-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.kontakt-thq-header-elm {
  top: 0px;
  width: 100%;
  height: 91px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #ffffff;
}
 
.kontakt-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.kontakt-navlink {
  display: contents;
}
 
.kontakt-text10 {
  font-size: 20px;
  margin-top: var(--dl-layout-space-threeunits);
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 1.15;
  margin-left: var(--dl-layout-space-fourunits);
  margin-right: var(--dl-layout-space-fourunits);
  text-transform: capitalize;
  text-decoration: none;
}
 
.kontakt-container12 {
  width: 100%;
  height: 325px;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
}
 
.kontakt-container13 {
  width: 1189px;
  height: 100%;
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  grid-row-end: 2;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.kontakt-text11 {
  margin-top: var(--dl-layout-space-unit);
  margin-left: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.kontakt-accordion1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.kontakt-thq-trigger-elm1 {
  cursor: pointer;
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  backdrop-filter: blur(5px);
  background-color: #ffffff;
}
 
.kontakt-thq-summary-elm1 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #ffffff;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
 
.kontakt-thq-icon-container-elm1 {
  transition: transform 0.3s ease-in-out;
}
 
.kontakt-container14 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text13 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-text14 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-text15 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-accordion2 {
  gap: 0;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.kontakt-thq-trigger-elm2 {
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.kontakt-thq-summary-elm2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.kontakt-thq-icon-container-elm2 {
  transition: transform 0.3s ease-in-out;
}
 
.kontakt-container15 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text17 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-container16 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text18 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-accordion3 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.kontakt-thq-trigger-elm3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  min-width: auto;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
  background-color: #FFF;
}
 
.kontakt-thq-summary-elm3 {
  width: 100%;
  display: flex;
  padding-right: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.kontakt-text19 {
  width: 100%;
  align-self: stretch;
}
 
.kontakt-thq-icon-container-elm3 {
  align-self: center;
  transition: transform 0.3s ease-in-out;
}
 
.kontakt-icon14 {
  width: 100%;
}
 
.kontakt-container17 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text20 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-container18 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text21 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-accordion4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.kontakt-thq-trigger-elm4 {
  cursor: pointer;
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: #FFF;
}
 
.kontakt-thq-summary-elm4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.kontakt-thq-icon-container-elm4 {
  transition: transform 0.3s ease-in-out;
}
 
.kontakt-container19 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-container20 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-container21 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-accordion5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.kontakt-thq-trigger-elm5 {
  cursor: pointer;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  backdrop-filter: blur(5px);
  background-color: #ffffff;
}
 
.kontakt-thq-summary-elm5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.kontakt-thq-icon-container-elm5 {
  transition: transform 0.3s ease-in-out;
}
 
.kontakt-container22 {
  display: flex;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.kontakt-text27 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-text28 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-text29 {
  margin-left: var(--dl-layout-space-halfunit);
}
 
.kontakt-container23 {
  width: 1133px;
  height: 302px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-fiveunits);
  margin-left: var(--dl-layout-space-fourunits);
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.kontakt-text30 {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.kontakt-text31 {
  display: flex;
  text-align: justify;
  align-items: flex-start;
  flex-direction: column;
}
 
.kontakt-text34 {
  text-align: justify;
}
 
.kontakt-text35 {
  margin-top: var(--dl-layout-space-unit);
}
 
.kontakt-text36 {
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.kontakt-thq-footer-elm {
  width: 100%;
  bottom: 0px;
  height: 111px;
  display: flex;
  position: sticky;
  margin-top: auto;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-secondary1);
}
 
.kontakt-link1 {
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  text-decoration: none;
}
 
.kontakt-text37 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.kontakt-link2 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.kontakt-link3 {
  display: contents;
}
 
.kontakt-container24 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.kontakt-icon20 {
  width: 24px;
  margin-right: 4px;
}
 
.kontakt-text38 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .kontakt-container13 {
    width: 100%;
  }
  .kontakt-container23 {
    width: 440px;
    margin-left: var(--dl-layout-space-halfunit);
  }
}
